<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.quadrexium.velonathea">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VelonaThea">
        <activity
            android:name="ca.quadrexium.velonathea.BaseActivity"
            android:exported="false" />
        <activity
            android:name="ca.quadrexium.velonathea.ImageDetailsActivity"
            android:exported="false" />
        <activity
            android:name="ca.quadrexium.velonathea.FullImageActivity"
            android:exported="false" />
        <activity
            android:name="ca.quadrexium.velonathea.ChooseDirActivity"
            android:exported="false" />
        <activity
            android:name="ca.quadrexium.velonathea.ConfigActivity"
            android:exported="false" />
        <activity android:name="ca.quadrexium.velonathea.SearchResultsActivity" />
        <activity
            android:name="ca.quadrexium.velonathea.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>